body{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 16px 7%; 
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #D9D9D9;
    z-index: 9999;
}
.navbar a{
    font-family: "Poppins";
    color: black;
    font-size: 15px;
    margin: 0 20.8px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    
}
.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_tengah{
    display: flex; 
}
.container_kiri{
    display: flex;
    
    flex-direction: column;
}


.kiri_atas{ 
    margin-bottom: 20px;
}
.kiri_bawah{
    display: flex;
    
}
.tentara{
    display: flex;
    background-color: #D5FFDD;
    width: 490px;
    height: 180px;
    border-radius: 20px;
    margin-top: 20px;
    font-family: "Poppins";
}

.tentara img{
    margin-top: -48px;
    height: 230px;
    width: 230px;
}
.tentara p{
    font-weight: 500;
    font-size: 32px;
    margin: 0;
    padding: 0;
    margin-top:12px;
}

.tentara p2{
    font-weight: 400;
    font-size: 14px;
} 

.tentara button{
    display: flex;
    margin-top :40px;
    height: 37px;
    width: 240px;
    background-color: #399349; 
     border-radius: 15px;
    border: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: "poppins";
    color: white;
}

.kuli{
    margin-top: 4px;
    display: flex;
    background-color: #fff4dc;
    width: 235px;
    height: 180px; 
     border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kuli img{
    width: 173.7px;
    height: 170px;
}

.kuli button{
    border: 0;
    background-color: #E29A00;
    width: 173px;
    height: 37px;
    display: flex;
    margin-top: -45px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    font-family: "poppins";
    color: white;
}

.pramugari{
    display: flex;
    background-color: #FFCED7;
    width: 235px;
    height: 180px;
    margin-top: 30px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pramugari img{
    width: 170px;
    height: 170px;
    margin-top: 4px;
}

.pramugari button{
    border: 0;
    background-color: #FF5573;
    width: 173px;
    height: 37px;
    display: flex;
    margin-top: -45px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    font-family: "poppins";
    color: white;
}

.fotografer{
    margin-top: 4px;
    display: flex;
    background-color: #E2F2FF;
    width: 230px;
    height: 392px;
    border-radius: 20px;
    margin-left: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotografer img{
    width: 160px;
    height: 160px;
}

.fotografer p{
    font-family: "Poppins";
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    
}
.fotografer p2{
    font-family: "Poppins";
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 120px;
}

.fotografer button{
    border: 0;
    background-color: #3279AF;
    width: 173px;
    height: 37px;
    display: flex;
    margin-top: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "poppins";
    color: white;
    font-weight: 500;
}

.container_kanan{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: right;
}

.kanan_atas{
    margin-top: 20px;
    display: flex;
    width: 500px;
    height: 392px;
    background-color: #F4F4F4;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.dokter{
    border-radius: 20px;
    border: 1px solid #D8D6C1;
    display: flex;
    width: 423px;
    height: 96px;
    background: #fff;
    align-items: center;
}

.pilot , .ilmuan{
    margin-top:20px;
    border-radius: 20px;
    border: 1px solid #D8D6C1;
    display: flex;
    width: 423px;
    height: 96px;
    background: #fff;
    align-items: center;
}

.pilot img, .dokter img, .ilmuan img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
}
.pilot p, .dokter p, .ilmuan p{
    font-family: "Poppins";
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    font-weight: 500;
}
.pilot button, .dokter button, .ilmuan button{
    font-family: "Poppins";
    font-size: 12px;
    width: 149px;
    height: 22px;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background-color: #D8D6C1;
    margin-top: 5px;
}

.kanan_bawah{
    margin-top: 25px;
    background-color: #f4f4f4;
    border-radius: 20px;
    width: 500px;
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pembalap img, .astronout img{
    width: 120px;
    height: 120px;
}
.pembalap{
    display: flex;
}

.astronout{
    display: flex;
    margin-left: 10px;
}

.pembalap p,.astronout p{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    margin-top: 32px;
    margin-left: 10px;
}
.pembalap button,.astronout button{
    font-family: "Poppins";
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    font-size: 15px;    
    border: 0;
    background: #D8D6C1;
    color: #ffffff;
}


@media (min-width: 320px) and (max-width: 425px){

    body{
        margin: 0;
        padding: 0;
    }

   
    .navbar{
        top: auto;
        bottom: 0;
        width: auto;
        justify-content: center;
        
    }
    .navbar a{
        margin: 0 8px;
        overflow:hidden;
        
    }
    .heading{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        font-family: "Poppins";
        font-size: 32px;
        margin-top: -10px;
    }
    .container{
        flex-direction: column;
    }
    .container_tengah{
        flex-direction: column;
        align-items: center ;
        width: auto;
       
    }
    .container_kiri{
        display: flex;
        flex-direction: column;
      
    }

    .container_kanan{
        margin-left: 0;
        justify-content: center;
        width: auto;
    }
    .kiri_bawah_kiri{
        margin-top: -20px;
    }
    .kiri_bawah_kanan{
        margin-left: -15px;
        width: auto;
    }
    
    .kiri_atas{
        display: flex;
        justify-content: center;
        width: auto;
        
       

    }
    .tentara{
        display: flex;
        background-color: #D5FFDD;
        width: 289px;
        height: 299px;
        border-radius: 20px;
        margin-top: 50px;
        font-family: "Poppins";
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .tentara img{
        margin-top: -48px;
        height: 230px;
        width: 230px;
    }
    .tentara p{
        font-weight: 500;
        font-size: 24px;
        margin: 0;
        padding: 0;
        margin-top: 45px;
      
    }
    .tentara p2{
        font-weight: 400;
        font-size: 14px;
    }
    
    .tentara button{
        display: flex;
        height: 45.43px;
        width: 212.41px;
        background-color: #399349;
        border-radius: 15px;
        border: 0;
        margin-top: -108px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        font-family: "poppins";
        color: white;
    }
    .kiri_bawah{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
  
    
    .kuli{
        margin-top: 30px;
        display: flex;
        background-color: #fff4dc;
        width: 290px;
        height: 221px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .kuli img{
        width: 213.26px;
        height: 208.72px;
    }
    
    .kuli button{
        border: 0;
        background-color: #E29A00;
        width: 212.41px;
        height: 45.43px;
        display: flex;
        margin-top: -57px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        font-family: "poppins";
        color: white;
    }
    
    .pramugari{
        display: flex;
        background-color: #FFCED7;
        width: 289px;
        height: 241.19px;
        margin-top: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .pramugari img{
        width: 209.06px;
        height: 226.53px;
        margin-top: 4px;
    }
    
    .pramugari button{
        border: 0;
        background-color: #FF5573;
        width: 212.75px;
        height: 49.3px;
        display: flex;
        margin-top: -63px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        font-family: "poppins";
        color: white;
    }
    
    .fotografer{
        display: flex;
        background-color: #E2F2FF;
        width: 289px;
        height: 299px;
        border-radius: 20px;
        margin-top: 100px;
        font-family: "Poppins";
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .fotografer img{
        width: 230px;
        height: 230px;
        margin-top: -130px;
    }
    
    .fotografer p{
        font-family: "Poppins";
        font-size: 20px;
        margin: 0;
        margin-top: 28px;
        font-weight: 500;
        
    }
    .fotografer p2{
        font-family: "Poppins";
        font-size: 12px;
        text-align: center;
        margin: 0;
        width: 150px;

        text-wrap: wrap;
        
    }
    
    .fotografer button{
        border: 0;
        background-color: #3279AF;
        width: 212.75px;
        height: 49.3px;
        display: flex;
        margin-top: -120px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: "poppins";
        color: white;
        font-weight: 500;
    }

    .kanan_atas{
        margin-top: 42%;
        margin-left: 4px ;
        background: transparent;
        width: auto;
        
        display: flex;
        flex-direction: column;
    }   

  
    .dokter, .pilot , .ilmuan ,.pembalap,.astronout{
        display: flex;
        background-color: #E9E8E2;
        width: 289px;
        height: 221px;
        margin-top: 30px;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        border: 0;
    }

    .pilot img, .dokter img, .ilmuan img, .pembalap img,.astronout img{
        width: 213px;
        height: 213px;
        margin-left: -1px;
        margin-top: 10px;
    }
    .pilot p, .dokter p, .ilmuan p, .pembalap p,.astronout p{
        position: absolute;
        font-size: 0px;
        color: transparent;
        width: 0px;
        height: 0px;
    }
    .pilot button, .dokter button, .ilmuan button, .pembalap button,.astronout button {
        border: 0;
        background-color: #CAC8B3;
        width: 212.41px;
        height: 45.43px;
        display: flex;
        margin-top: -57px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        font-family: "poppins";
        color: white;
    }
    .kanan_bawah{
        margin-top: 172px;
        width: 425px;
        height: auto;
        background-color: transparent;
        padding-bottom: 75px;
        flex-direction: column;
       
    }

    .pembalap{
        margin-top: 38px;
        background-color: #FFDBC5;
    }
    
    .pembalap button{
        background-color: #E36415;
    }
    
    .astronout{
        margin-left: 0;
        background-color: #8FC5ED;
    }

    .astronout button{
        background-color: #275E87;
    }
  }


